@import '../../../common.scss';
.Wrapper{
  background-color: $bgc;
  width: 100%;
  height: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .main{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    .timeCounterWrapper{
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      .timeCounter{
        margin-left: 5px;
      }
    }
  }
}