.TodolistWrapper{
  width: 100%;
  height: 100%;
  padding: 20px;
  .TodolistHead {
    display: flex;
    .TodolistInput {
      margin-bottom: 20px;
      flex: 2;
      margin-right: 2px;
    }
    .TodolistButton {
      flex: 1;
      text-align: right;
      .highlight {
        color:pink
      }
      .IconsStyle {
        position: relative;
        top: 5px;
        margin-right: 10px;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}
.todoHeaderWrapper {
  padding: 0 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .todoHeaderIcon {
    padding-left: 10px;
  }
  .todoHeaderCancel {
    color: salmon;
  }
}
