.main{
  display: flex;
  width: 100%;
  height: 100%;
  .appName{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffe58f;
    cursor: pointer;
    -webkit-app-region: drag;
  }
  .searchBar{
    flex:1;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
      opacity: 100;
    }
  }
  :global(.ant-layout-sider-children){ 
    display: flex;
    flex-direction: column 
  }
  .Wrapper{
    background-color: #e6f7ff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .ToolBar{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      .dailySentenceWrapper{
        display: flex;
        flex-direction: column;
        .dailySentence{
          font-size: 18px;
          font-weight: 800;
        }
        .dailySentenceTrans{
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .middleBar{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items:center;
    }
    .dragBar{
      flex:0 0 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.dragOver{
        filter: blur(0.5px);
        background-color: pink;
      }
    }
  }
  
}
